$bg-color: #111217;
$text-color: #f4f6fb;
$text-color-sahibinden: yellow;
html,
body {
    // font-family: 'Source Code Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $text-color;
    background-color: $bg-color;
    height: 100%;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // aspect-ratio: 16/9;
        padding: 5rem 2rem;
        box-sizing: border-box;
        text-align: center;

        h1 {
            font-size: 4rem;
            line-height: 1em;
            margin: 0;
            padding: 0;

            .wstroke {
                font-weight: 900;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: .8px;
                -webkit-text-stroke-color: $text-color;
                animation: stroke-animation 3s infinite;
            }

            .semi-bold {
                font-weight: 600;
            }
        }

        h2 {
            font-size: 2rem;
            font-weight: 200;
            margin: 0;
            padding: 0;
            margin-top: 1rem;
        }

        .contacts {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            margin-top: 2rem;
            max-width: 100%;
            flex-flow: wrap;

            .contact {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                width: 3rem;
                border-radius: 3rem;
                background-color: #212121;

                text-decoration: none;
                color: $text-color;

                i {
                    font-size: 1.5em;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    background-color: rgba($bg-color, .8);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;

    .copyright {
        font-size: 1rem;
    }
}

@keyframes stroke-animation {
    0% {
        background: transparent;
    }

    9% {
        background: linear-gradient(to right, transparent 0% 0em, $text-color 0em .7em, transparent 0em 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    18% {
        background: linear-gradient(to right, transparent 0% .7em, $text-color .7em 1.1em, transparent 0em 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    27% {
        background: linear-gradient(to right, transparent 0% 1.1em, $text-color 1.1em 1.5em, transparent 0em 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    36% {
        background: linear-gradient(to right, transparent 0% 1.5em, $text-color 1.5em 2em, transparent 0em 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    45% {
        background: linear-gradient(to right, transparent 0% 2em, $text-color 2em 2.3em, transparent 0em 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    54% {
        background: linear-gradient(to right, transparent 0% 2.3em, $text-color 2.3em 3.4em, transparent 0em 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    63%,
    81% {
        background: transparent;
    }

    72%,
    90% {
        background: linear-gradient(to right, transparent 0% 0em, $text-color 0em 3.4em, transparent 0em 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}